__pycache__
backend/db
*.db
.venv
.env
node_modules

frontend/resources/public/js
frontend/resources/public/css/compiled.css
*.pem
*.crt
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.cpcache

.hgignore
.hg/
